<!--
  Generated template for the ZjListDetailHouse page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <header>
		<div class="list-header-wrap zj-de-header">
			<div class="de-header02">
				<a href="javascript:;" navPop>
					<svg class="icon-angle-left">
						<use xlink:href="#icon-angle-left-copy"></use>
					</svg>
				</a>
				<h1>玛雅中介</h1>
			</div>
			<div class="f-number-tip">共<span>20</span>套二手房源</div>
			<div class="screening-box">
				<span id="validationList">
					<a href="javascript:;">
						验证房源
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="priceList">
					<a href="javascript:;">
						价格
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="areaLsit">
					<a href="javascript:;">
						面积
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="moreList">
					<a href="javascript:;">
						户型
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
			</div>
			<!-- screening list -->	
			<div class="validationCon" style="display: none">
				<ul class="validationList-box">
					<li>不限</li>
					<li>已验证</li>
					<li class="border-none">未验证</li>
				</ul>
			</div>
			<div class="priceCon" style="display: none">
				<ul class="priceList-box">
					<li>不限</li>
					<li>50万以下</li>
					<li>50-80万</li>
					<li>80-100万</li>
					<li>100-120万</li>
					<li>120-150万</li>
					<li>150-200万</li>
					<li>200-300万</li>
					<li>300万以上</li>
					<li class="custom-line border-none">
						<span>自定义价格</span>
						<span>
							<input class="input-define" type="text" placeholder="最低" maxlength="4" />	
						</span>
						—
						<span>
							<input class="input-define" type="text" placeholder="最高" maxlength="4" />	
						</span>
						<button class="determine-but">确定</button>
					</li>
				</ul>
			</div>
			<div class="areaCon" style="display: none">
				<ul class="areaList-box">
					<li>不限</li>
					<li>50平以下</li>
					<li>50-70平</li>
					<li>70-90平</li>
					<li>90-130平</li>
					<li>130-150平</li>
					<li>150-200平</li>
					<li>200-300平</li>
					<li>300平以上</li>
					<li class="border-none"></li>
				</ul>
			</div>
			<div class="moreCon" style="display: none">
				<ul class="moreList-box he1">
					<li class="title">户型</li>
					<li class="type">
						<span>一室</span>
						<span>二室</span>
						<span>三室</span>
						<span>四室</span>
						<span>四室以上</span>
					</li>
				</ul>
				<button id="filtrate-reset" class="remove-but">清空条件</button>
				<button class="determine-but">确定</button>
			</div>
			<!-- screening list end -->	
		</div>
	</header>

</ion-header>


<ion-content >
	<div class="list-wrap" *ngFor="let item of DataList" >
		<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="{{BaseImgUrl + item.picturePath}}"></div>
					<div class="txt-r">
						<h3 class="area-name">{{item.name}}</h3>
						<div class="same-line">
							<span class="color-9">{{item.houseS}}室{{item.houseT}}厅</span>&nbsp;|
							<span class="color-9">{{item.floorSpace}}m²</span>&nbsp;|
							<span class="color-9">{{item.plotName}}</span>
						</div>
						<div class="lable-tip">
							<span class="lable">{{item.houseType | housetagpipe }}</span>
							<span class="lable">验证房源</span>
						</div>
						<div class="price-line">
							<span class="focus">{{item.housePrice}}万</span>
							<span class="color-9">{{item.avgPrice}}元/m²</span>
						</div>
					</div>
				</a>
			</div>
	</div>

	<ion-infinite-scroll (ionInfinite)="doLoadData($event)" threshold="100px" *ngIf="CanLoadMore">
   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>
</ion-content>
