@charset "UTF-8";
*, :after, :before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

input, textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  font-size: 1em;
  line-height: 1.5em; }

input, select, textarea, button {
  outline: none;
  border: none;
  background: none; }

a {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  *star: expression(this.onbanner=this.blur()); }

em, i {
  font-style: normal; }

li, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Arial, "微软雅黑";
  font-size: 0.24rem;
  background-color: #fff; }

.body-bg {
  background-color: #efeff4;
  height: auto; }

.body-bg02 {
  background-color: #fff;
  height: auto;}

.body-bg03 {
  background-color: #f6f6f6;
  height: auto;}

.ho-header .area-lable, .ho-header .search-wrap, .ho-header .choose-lable,
.ho-header .se-input-box, .index-title, .index-title .more, .fb-button,
.header-wrap .return-left a, .list-header-wrap .top-search a,
.list-header-wrap .top-search .search-input, .list-header-wrap .screening-box span a, .list-header-wrap .screening-box .contact-info .txt-r-box p a, .contact-info .txt-r-box .list-header-wrap .screening-box p a,
.sorting-but, .priceCon .custom-line, .de-header a, .de-header02 a {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.icon-fork02 {
  width: 0.4rem;
  height: 0.4rem;
  display: block;
  margin: 0.3rem auto 0.15rem; }

.header-wrap {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 0.88rem;
  color: #fff;
  background-color: #00ae67; }
  .header-wrap .return-left {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox; }
    .header-wrap .return-left a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      line-height: 0.88rem;
      color: #fff; }
    .header-wrap .return-left .icon-angle-left {
      width: 0.4rem;
      height: 0.4rem;
      fill: #fff; }
  .header-wrap h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.34rem; }

.reg-choose {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }
  .reg-choose a {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    padding: 0.2rem 0;
    text-align: center;
    font-size: 0.28rem;
    border-bottom: 2px solid #d2d2d2; }
  .reg-choose .active {
    color: #00ae67;
    border-bottom: 2px solid #00ae67; }

.form-wrap, .form-wrap02 {
  margin-top: 0.28rem;
  position: relative; }
  .form-wrap .item-wrap, .form-wrap02 .item-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    margin-bottom: 0.1rem;
    padding-right: 0.2rem;
    padding-left: 0.72rem;
    height: 0.78rem;
    background-color: #fff;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    /* span{
    	width: 0.32rem;
    	height: 0.32rem;
    	display: inline-block;
    	vertical-align: middle;
    	color: #ccc;
    	font-size: 0.35rem;
    } */
    /* .mobile-icon{
    	width: 0.16rem;
    	height: 0.27rem; 
    }
    .pencil-icon{
    	width: 0.16rem;
    	height: 0.27rem; 
    }
    .lock-icon{
    	width: 0.16rem;
    	height: 0.27rem; 
    } */ }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .form-wrap .item-wrap, .form-wrap02 .item-wrap {
        border-radius: 0;
        position: relative;
        border: 0; }
        .form-wrap .item-wrap:before, .form-wrap02 .item-wrap:before {
          content: "";
          width: 200%;
          height: 200%;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #e5e5e5;
          -webkit-transform: scale(0.5);
          -webkit-transform-origin: 0 0;
          padding: 1px;
          -webkit-box-sizing: border-box;
          border-radius: 0;
          pointer-events: none; } }
    .form-wrap .item-wrap .icon-phone, .form-wrap02 .item-wrap .icon-phone, .form-wrap .item-wrap .icon-lock, .form-wrap02 .item-wrap .icon-lock, .form-wrap .item-wrap .icon-bianji, .form-wrap02 .item-wrap .icon-bianji {
      margin-right: 0.1rem;
      width: 0.3rem;
      height: 0.3rem;
      fill: #ccc; }
    .form-wrap .item-wrap .input-box, .form-wrap02 .item-wrap .input-box {
      flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      height: 0.5rem; }
    .form-wrap .item-wrap .form-button, .form-wrap02 .item-wrap .form-button {
      width: 1.48rem;
      height: 0.54rem;
      border-radius: 0.03rem;
      border: 1px solid #00ae66;
      line-height: 0.54rem;
      color: #00ae66;
      font-size: 0.24rem; }
  .form-wrap .agreement, .form-wrap02 .agreement {
    margin-bottom: 0.43rem;
    padding: 0.16rem 0.2rem;
    color: #333; }
    .form-wrap .agreement .checkbox, .form-wrap02 .agreement .checkbox {
      width: 0.18rem;
      height: 0.18rem;
      border: 1px solid #d2d2d2; }
    .form-wrap .agreement .agency-tip, .form-wrap02 .agreement .agency-tip {
      margin-top: 0.1rem;
      display: none; }
      .form-wrap .agreement .agency-tip strong, .form-wrap02 .agreement .agency-tip strong {
        color: #ff0101; }
  .form-wrap .submit-button, .form-wrap02 .submit-button {
    margin: 0 auto;
    width: 6rem;
    height: 0.8rem;
    display: block;
    border: none;
    border-radius: 0.03rem;
    background-color: #00ae66;
    font-size: 0.3rem;
    color: #fff; }
  .form-wrap .mt-40, .form-wrap02 .mt-40 {
    margin-top: 0.4rem; }
  .form-wrap .auxiliary-item, .form-wrap02 .auxiliary-item {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    padding-top: 0.54rem;
    align-items: center;
    color: #666; }
    .form-wrap .auxiliary-item a, .form-wrap02 .auxiliary-item a {
      margin: 0 0.2rem;
      font-size: 0.28rem;
      color: #666; }
  .form-wrap .tip-login, .form-wrap02 .tip-login {
    margin-top: 0.35rem;
    text-align: center;
    font-size: 0.28rem; }
    .form-wrap .tip-login a, .form-wrap02 .tip-login a {
      color: #00ae66; }
  .form-wrap .tip-user, .form-wrap02 .tip-user {
    width: 2rem;
    height: 1.48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.74rem;
    margin-left: -1rem;
    width: 2rem;
    height: 1.48rem;
    border-radius: 0.06rem;
    background: rgba(0, 0, 0, 0.7);
    display: none; }
    .form-wrap .tip-user .tip-icon, .form-wrap02 .tip-user .tip-icon {
      margin-top: 0.26rem;
      text-align: center;
      font-size: 0.35rem;
      color: #fff; }
    .form-wrap .tip-user .tip-txt, .form-wrap02 .tip-user .tip-txt {
      margin-top: 0.16rem;
      font-size: 0.24rem; }

.form-wrap02 {
  display: none; }
  .form-wrap02 .item-wrap {
    margin-bottom: 0;
    padding: 0 0.2rem;
    border-bottom: 0; }
    .form-wrap02 .item-wrap strong {
      color: #ff0000;
      font-size: 0.22rem; }
      .form-wrap02 .item-wrap strong em {
        margin-left: 0.06rem;
        color: #383f42;
        font-weight: 400; }
    .form-wrap02 .item-wrap:nth-child(6) {
      border-bottom: 1px solid #e5e5e5; }
    .form-wrap02 .item-wrap:nth-child(7) {
      margin-top: 0.2rem; }
  .form-wrap02 .upload-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0.2rem 0.2rem 0.3rem;
    align-items: center;
    border: 1px solid #e5e5e5;
    color: #8c8c8c;
    background-color: #fff; }
    .form-wrap02 .upload-wrap .pic-box {
      margin-right: 0.2rem;
      width: 1.98rem;
      height: 1.58rem;
      border: 1px dashed #c9c9c9;
      background-color: #eee; }
  .form-wrap02 .submit-button {
    margin-top: 0.58rem; }

.reg-success {
  display: none; }
  .reg-success h1 {
    margin: 1.5rem 0 1.3rem;
    text-align: center;
    font-size: 0.3rem;
    color: #333; }
  .reg-success p {
    text-align: center;
    color: #999;
    line-height: 0.4rem; }
  .reg-success .determine-button {
    margin: 1.75rem auto 0;
    display: block;
    width: 6rem;
    height: 0.8rem;
    background-color: #26bc7e;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.8rem; }

.ho-header {
  position: relative;
  height: 3.5rem; }
  .ho-header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem; }
  .ho-header .area-lable {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
    width: 0.9rem;
    height: 0.46rem;
    color: #fff;
    z-index: 2;
    border-radius: 0.06rem;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    -webkit-justify-content: center; }
    .ho-header .area-lable .index-angle-down {
      width: 0.3rem;
      height: 0.3rem;
      fill: #fff; }
  .ho-header .search-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    left: 0.3rem;
    bottom: 0.64rem;
    padding: 0 0.2rem;
    width: 5.4rem;
    height: 0.7rem;
    border-radius: 0.06rem;
    background-color: #fff; }
    .ho-header .search-wrap .choose-lable {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      width: 1.2rem;
      font-size: 0.26rem; }
      .ho-header .search-wrap .choose-lable .index-triangle-down {
        margin-left: 0.06rem;
        width: 0.3rem;
        height: 0.3rem;
        fill: #ccc; }
    .ho-header .search-wrap .se-input-box {
      flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      height: 0.3rem; }
      .ho-header .search-wrap .se-input-box input {
        width: 3.56rem;
        height: 0.3rem;
        line-height: 0.3rem; }
    .ho-header .search-wrap .line-middle {
      margin-left: 0.14rem;
      margin-right: 0.24rem;
      width: 1px;
      height: 0.3rem;
      display: inline-block;
      background-color: #b5b5b5; }
    .ho-header .search-wrap .index-search {
      width: 0.2rem;
      height: 0.3rem;
      fill: #ccc; }

.fast-menu {
  padding: 0.3rem 0.08rem 0;
  background-color: #fff;
  overflow: hidden; }
  .fast-menu a {
    float: left;
    margin: 0 0.54rem 0.38rem 0.54rem; }
  .fast-menu .pic-container {
    width: 1rem;
    height: 1rem; }
  .fast-menu .title {
    display: block;
    margin-top: 0.15rem;
    text-align: center; }
  .fast-menu img {
    width: 100%;
    height: 100%; }

.mt-20 {
  margin-top: 0.2rem; }

.list-wrap {
  background-color: #fff; }
  .list-wrap .index-title {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0.2rem;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .list-wrap .index-title .index-angle-right {
      width: 0.3rem;
      height: 0.4rem;
      fill: #acacac; }
    .list-wrap .index-title span, .list-wrap .index-title .contact-info .txt-r-box p, .contact-info .txt-r-box .list-wrap .index-title p {
      color: #383f42;
      font-size: 0.34rem;
      font-weight: 600; }
    .list-wrap .index-title .more {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      color: #666;
      font-size: 0.22rem; }
  .list-wrap .area-name, .list-wrap .same-line, .list-wrap .lable-tip, .list-wrap .price-line {
    height: 0.395rem;
    line-height: 0.395rem; }
  .list-wrap .list-item {
    padding: 0.28rem 0.2rem;
    border-top: 1px solid #e5e5e5; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .list-wrap .list-item {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .list-wrap .list-item a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox; }
    .list-wrap .list-item .pic-l {
      margin-right: 0.23rem;
      width: 2.18rem;
      height: 1.58rem;
      border: 1px solid #e5e5e5; }
      .list-wrap .list-item .pic-l img {
        width: 100%;
        height: 100%; }
    .list-wrap .list-item .txt-r {
      flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      font-size: 0.22rem; }
      .list-wrap .list-item .txt-r .area-name {
        max-width: 3.1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.28rem;
        color: #383f42;
        font-weight: 600; }
      .list-wrap .list-item .txt-r .same-line {
        color: #999; }
      .list-wrap .list-item .txt-r .color-9 {
        color: #999; }
      .list-wrap .list-item .txt-r .lable-tip .lable {
        margin-right: 0.1rem;
        padding: 0 0.13rem;
        height: 0.32rem;
        border: 1px solid #00ae66;
        border-radius: 0.06rem;
        color: #00ae66;
        font-size: 0.24rem; }
      .list-wrap .list-item .txt-r .price-line {
        margin-top: 0.05rem; }
      .list-wrap .list-item .txt-r .focus {
        margin-right: 0.1rem;
        font-size: 0.3rem;
        color: #f9452c; }
    .list-wrap .list-item:nth-child(2) {
      border-top: 1px solid #d2d2d2; }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .list-wrap .list-item:nth-child(2) {
          border: 0;
          background-repeat: repeat-x;
          -webkit-background-size: 100% 1px;
          background-position: left top;
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #d2d2d2), to(#d2d2d2)); } }

.change-list .list-item .pic-l {
  height: 1.38rem; }
.change-list .list-item .txt-r .mt-25 {
  margin-top: 0.25rem; }
.change-list .list-item .txt-r .color-8 {
  color: #df7f03; }

.foot-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; }
  .foot-wrap .foot-con {
    border-top: 1px solid #e5e5e5;
    position: relative;
    padding-top: 0.1rem;
    height: 0.88rem;
    text-align: center;
    background-color: #f5f5f7;
    box-shadow: 0 0 3px 1px #e5e5e5; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .foot-wrap .foot-con {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .foot-wrap .foot-con .foot-menu {
      width: 1.87rem;
      color: #7a7e83; }
    .foot-wrap .foot-con .index-home01 {
      width: 0.4rem;
      height: 0.4rem;
      fill: #2f2f2f; }
    .foot-wrap .foot-con .index-my {
      width: 0.4rem;
      height: 0.4rem;
      fill: #2f2f2f; }
    .foot-wrap .foot-con .menu-txt {
      display: block; }
    .foot-wrap .foot-con .foot-fb {
      position: absolute;
      top: -0.23rem;
      left: 50%;
      margin-left: -0.375rem;
      display: block;
      color: #7a7e83; }
      .foot-wrap .foot-con .foot-fb .fb-button {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        margin-bottom: 0.03rem;
        justify-content: center;
        -webkit-justify-content: center;
        width: 0.75rem;
        height: 0.75rem;
        background-color: #fff;
        border-radius: 50%;
        border-top: 1px solid #e5e5e5;
        box-shadow: 0 -2px 8px -1px #e5e5e5; }
      .foot-wrap .foot-con .foot-fb .index-release {
        width: 0.7rem;
        height: 0.7rem;
        fill: #03b574; }

.index-release-wrap {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.84); }
  .index-release-wrap .fb-but-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.36rem; }
  .index-release-wrap .fb-top-but {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .index-release-wrap .fb-top-but .fy-but {
      margin-left: 0.83rem;
      text-align: center; }
    .index-release-wrap .fb-top-but .qg-but {
      margin-right: 0.83rem;
      text-align: center; }
    .index-release-wrap .fb-top-but a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      justify-content: center;
      -webkit-justify-content: center;
      width: 1.36rem;
      height: 1.36rem;
      background-color: #fff;
      border-radius: 50%; }
    .index-release-wrap .fb-top-but span, .index-release-wrap .fb-top-but .contact-info .txt-r-box p, .contact-info .txt-r-box .index-release-wrap .fb-top-but p {
      margin-top: 0.1rem;
      display: block;
      color: #fff; }
  .index-release-wrap .index-house-color {
    width: 0.68rem;
    height: 0.68rem; }
  .index-release-wrap .index-editor-color {
    width: 0.68rem;
    height: 0.68rem; }
  .index-release-wrap .shut-down {
    width: 0.98rem;
    height: 0.98rem;
    margin: 0.42rem auto 0;
    background-color: #fff;
    border-radius: 50%; }
    .index-release-wrap .shut-down .index-release-cancel {
      width: 0.98rem;
      height: 0.98rem; }

.list-header-wrap {
  position: relative;
  padding: 0.28rem 0 0.2rem; }
  .list-header-wrap .top-search {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 0.6rem; }
    .list-header-wrap .top-search a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      margin: 0 0.1rem; }
    .list-header-wrap .top-search .icon-angle-left {
      width: 0.4rem;
      height: 0.4rem;
      fill: #a0a0a0; }
    .list-header-wrap .top-search .search-input {
      flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      margin-right: 0.2rem;
      padding: 0 0.2rem;
      border: 1px solid #e5e5e5;
      border-radius: 0.03rem;
      background-color: #fff; }
      .list-header-wrap .top-search .search-input .icon-search {
        margin-right: 0.06rem;
        width: 0.2rem;
        height: 0.2rem;
        fill: #ccc; }
      .list-header-wrap .top-search .search-input input {
        width: 4.9rem;
        line-height: 0.55rem; }
  .list-header-wrap .screening-box {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 0.3rem;
    padding: 0 0.2rem; }
    .list-header-wrap .screening-box span a, .list-header-wrap .screening-box .contact-info .txt-r-box p a, .contact-info .txt-r-box .list-header-wrap .screening-box p a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox; }
    .list-header-wrap .screening-box span em, .list-header-wrap .screening-box .contact-info .txt-r-box p em, .contact-info .txt-r-box .list-header-wrap .screening-box p em {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox; }
    .list-header-wrap .screening-box span.active a, .list-header-wrap .screening-box .contact-info .txt-r-box p.active a, .contact-info .txt-r-box .list-header-wrap .screening-box p.active a {
      color: #03b574; }
      .list-header-wrap .screening-box span.active a .icon-triangle-down, .list-header-wrap .screening-box .contact-info .txt-r-box p.active a .icon-triangle-down, .contact-info .txt-r-box .list-header-wrap .screening-box p.active a .icon-triangle-down {
        fill: #03b574;
        transform: rotate(180deg); }
    .list-header-wrap .screening-box .icon-triangle-down {
      width: 0.3rem;
      height: 0.3rem;
      fill: #c4c4c4; }
  .list-header-wrap .modify {
    justify-content: center;
    -webkit-justify-content: center; }

.sorting-but {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: fixed;
  right: 0.2rem;
  bottom: 3.5rem;
  width: 1.1rem;
  height: 0.6rem;
  border-radius: 0.4rem;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }
  .sorting-but .icon-direction-arrow, .sorting-but .icon-direction-arrow02 {
    width: 0.3rem;
    height: 0.2rem;
    fill: #fff; }
  .sorting-but .icon-direction-arrow02 {
    margin-left: -0.18rem; }

.locationCon, .priceCon, .areaCon, .validationCon, .typeCon, .moreCon, .validationCon {
  /*position: absolute;*/
  /*top: 1.74rem;*/
  width: 100%;
  color: #333;
  z-index: 999;
  background-color: #f0f0f0;
 }

.locationCon {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }
  .locationCon h2 {
    margin: 0.28rem 0 0 0.33rem;
    width: 2.65rem; }
  .locationCon .locationList-box {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    background-color: #fff;
    height: 6rem;
    overflow-y: auto; }
    .locationCon .locationList-box li {
      border-bottom: 1px solid #e5e5e5;
      margin-left: 0.47rem;
      padding-left: 0.12rem;
      height: 0.8rem;
      line-height: 0.8rem; }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .locationCon .locationList-box li {
          border: 0;
          background-repeat: repeat-x;
          -webkit-background-size: 100% 1px;
          background-position: left bottom;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
      .locationCon .locationList-box li.active {
        color: #03b574; }

.priceCon {
  background-color: #fff; }
  .priceCon .priceList-box li {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0.3rem;
    height: 0.8rem;
    line-height: 0.8rem; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .priceCon .priceList-box li {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .priceCon .priceList-box li .input-define {
      width: 0.68rem;
      height: 0.38rem;
      text-align: center;
      background-color: #f0f0f0; }
    .priceCon .priceList-box li .determine-but {
      width: 0.68rem;
      height: 0.38rem;
      color: #fff;
      font-size: 0.2rem;
      background-color: #03b574; }
    .priceCon .priceList-box li span, .priceCon .priceList-box li .contact-info .txt-r-box p, .contact-info .txt-r-box .priceCon .priceList-box li p {
      margin: 0 0.1rem;
      font-size: 0.2rem;
      line-height: normal; }
    .priceCon .priceList-box li.active {
      color: #03b574; }
  .priceCon .priceList-box .custom-line {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox; }

.areaCon, .validationCon, .typeCon {
  background-color: #fff; }
  .areaCon li, .validationCon li, .typeCon li {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0.3rem;
    height: 0.8rem;
    line-height: 0.8rem; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .areaCon li, .validationCon li, .typeCon li {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .areaCon li.active, .validationCon li.active, .typeCon li.active {
      color: #03b574; }

.moreCon {
  background-color: #fff; }
  .moreCon .he1 {
    height: 2.35rem; }
  .moreCon .he2 {
    height: 3rem; }
  .moreCon .moreList-box {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0.32rem; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .moreCon .moreList-box {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .moreCon .moreList-box .title {
      padding: 0.3rem 0;
      font-weight: bold; }
    .moreCon .moreList-box .type span, .moreCon .moreList-box .type .contact-info .txt-r-box p, .contact-info .txt-r-box .moreCon .moreList-box .type p {
      border: 1px solid #e5e5e5;
      border-radius: 0;
      float: left;
      margin: 0 0.27rem 0.16rem 0;
      padding: 0.04rem 0;
      display: block;
      width: 1.18rem;
      text-align: center;
      color: #999; }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .moreCon .moreList-box .type span, .moreCon .moreList-box .type .contact-info .txt-r-box p, .contact-info .txt-r-box .moreCon .moreList-box .type p {
          border-radius: 0;
          position: relative;
          border: 0; }
          .moreCon .moreList-box .type span:before, .moreCon .moreList-box .type .contact-info .txt-r-box p:before, .contact-info .txt-r-box .moreCon .moreList-box .type p:before {
            content: "";
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #e5e5e5;
            -webkit-transform: scale(0.5);
            -webkit-transform-origin: 0 0;
            padding: 1px;
            -webkit-box-sizing: border-box;
            border-radius: 0;
            pointer-events: none; } }
      .moreCon .moreList-box .type span:nth-child(4), .moreCon .moreList-box .type .contact-info .txt-r-box p:nth-child(4), .contact-info .txt-r-box .moreCon .moreList-box .type p:nth-child(4) {
        margin-right: 0; }
      .moreCon .moreList-box .type span.active, .moreCon .moreList-box .type .contact-info .txt-r-box p.active, .contact-info .txt-r-box .moreCon .moreList-box .type p.active {
        color: #03b574;
        border: 1px solid #03b574; }
  .moreCon .remove-but, .moreCon .determine-but {
    padding: 0.22rem 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.26rem;
    font-weight: bold;
    color: #999; }
  .moreCon .determine-but {
    color: #fff;
    background-color: #03b574; }

.locationList-box li.border-none, .priceList-box li.border-none, .areaList-box li.border-none, .validationList-box li.border-none, .typeCon li.border-none {
  border: none; }

.de-header, .de-header02 {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  background-color: #fff; }
  .de-header a, .de-header02 a {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 0.57rem;
    height: 0.88rem; }
    .de-header a .icon-angle-left, .de-header02 a .icon-angle-left {
      width: 0.4rem;
      height: 0.4rem;
      fill: #666; }
  .de-header h1, .de-header02 h1 {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0.88rem;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.28rem;
    line-height: 0.88rem;
    color: #383f42;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.de-header02 {
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  background-color: #00ae66; }
  .de-header02 a .icon-angle-left {
    fill: #fff; }
  .de-header02 h1 {
    color: #fff; }
  .de-header02 .but-box-r {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox; }
    .de-header02 .but-box-r a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center; }
      .de-header02 .but-box-r a .icon-share, .de-header02 .but-box-r a .icon-wujiaoxing {
        width: 0.35rem;
        height: 0.35rem;
        fill: #fff; }
    .de-header02 .but-box-r .income-but {
      margin-right: 0.12rem; }
    .de-header02 .but-box-r .share-but {
      margin-right: 0.2rem; }

.de-forList, .de-forList02 {
  padding: 0.24rem 0.2rem;
  background-color: #fff;
  overflow: hidden; }
  .de-forList .list-l, .de-forList .list-r, .de-forList02 .list-l, .de-forList02 .list-r {
    float: left;
    min-width: 2.95rem; }
    .de-forList .list-l li, .de-forList .list-r li, .de-forList02 .list-l li, .de-forList02 .list-r li {
      padding: 0.06rem 0;
      height: 0.4rem; }
    .de-forList .list-l label, .de-forList .list-r label, .de-forList02 .list-l label, .de-forList02 .list-r label {
      font-size: 0.28rem;
      color: #b3b5b7; }
    .de-forList .list-l span, .de-forList .list-r span, .de-forList .list-l .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList .list-l p, .de-forList .list-r .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList .list-r p, .de-forList02 .list-l span, .de-forList02 .list-r span, .de-forList02 .list-l .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList02 .list-l p, .de-forList02 .list-r .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList02 .list-r p {
      font-size: 0.26rem;
      color: #333a3d; }
    .de-forList .list-l .introdu-box, .de-forList .list-r .introdu-box, .de-forList02 .list-l .introdu-box, .de-forList02 .list-r .introdu-box {
      height: auto;
      color: #383f42;
      font-size: 0.26rem; }
    .de-forList .list-l .icon-map, .de-forList .list-r .icon-map, .de-forList02 .list-l .icon-map, .de-forList02 .list-r .icon-map {
      width: 0.4rem;
      height: 0.4rem;
      fill: #00ae66;
      vertical-align: bottom; }
    .de-forList .list-l .special-li, .de-forList .list-r .special-li, .de-forList02 .list-l .special-li, .de-forList02 .list-r .special-li {
      position: relative; }
      .de-forList .list-l .special-li span, .de-forList .list-r .special-li span, .de-forList .list-l .special-li .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList .list-l .special-li p, .de-forList .list-r .special-li .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList .list-r .special-li p, .de-forList02 .list-l .special-li span, .de-forList02 .list-r .special-li span, .de-forList02 .list-l .special-li .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList02 .list-l .special-li p, .de-forList02 .list-r .special-li .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList02 .list-r .special-li p {
        position: absolute;
        top: 0.08rem;
        left: 1.45rem;
        max-width: 3.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .de-forList .list-r, .de-forList02 .list-r {
    float: right; }
  .de-forList .paper-box, .de-forList02 .paper-box {
    font-size: 0.21rem;
    color: #383f42; }

.de-forList02 {
  margin-top: 0.2rem; }
  .de-forList02 li {
    padding: 0.06rem 0;
    height: 0.4rem; }
  .de-forList02 label {
    font-size: 0.28rem;
    color: #b3b5b7; }
  .de-forList02 span, .de-forList02 .contact-info .txt-r-box p, .contact-info .txt-r-box .de-forList02 p {
    font-size: 0.26rem;
    color: #333a3d; }

.top-operation-but {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.16rem 0.2rem;
  z-index: 999;
  overflow: hidden;
  justify-content: space-between;
  -webkit-justify-content: space-between; }
  .top-operation-but a {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center; }
    .top-operation-but a .icon-home, .top-operation-but a .icon-share, .top-operation-but .de-header02 .but-box-r a .icon-wujiaoxing, .de-header02 .but-box-r .top-operation-but a .icon-wujiaoxing, .top-operation-but a .icon-wujiaoxing {
      width: 0.35rem;
      height: 0.35rem;
      fill: #fff; }
  .top-operation-but .income-but {
    margin-right: 0.12rem; }
  .top-operation-but .but-box-r {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox; }

.pic-rolling-box {
  width: 100%;
  height: 3.6rem;
  position: relative;
  overflow: hidden; }
  .pic-rolling-box .hdp-box {
    position: relative;
    height: 100%; }
    .pic-rolling-box .hdp-box .swipe {
      width: 100%;
      float: left;
      overflow: hidden;
      visibility: visible;
      position: relative;
      height: 3.6rem; }
    .pic-rolling-box .hdp-box .piclist li {
      height: 3.6rem;
      text-align: center; }
      .pic-rolling-box .hdp-box .piclist li img {
        width: 100%;
        height: 100%; }
    .pic-rolling-box .hdp-box .count {
      position: absolute;
      left: 0.2rem;
      bottom: 0.44rem;
      padding: 0.04rem 0.04rem 0.01rem;
      color: #fff;
      background-color: #343434; }
      .pic-rolling-box .hdp-box .count b {
        font-weight: 400; }

.de-title {
  padding: 0.2rem;
  background-color: #fff; }
  .de-title h2 {
    font-size: 0.3rem;
    color: #383f42;
    font-weight: bold; }
  .de-title .lable {
    display: block;
    width: 1.08rem;
    text-align: center;
    color: #00ae66;
    border: 1px solid #00ae66; }

.de-focus {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 0.2rem;
  padding: 0.28rem 0;
  background-color: #fff; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .de-focus {
      border: 0;
      background-repeat: repeat-x;
      -webkit-background-size: 100% 1px;
      background-position: left bottom;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
  .de-focus dl {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    text-align: center;
    font-size: 0.28rem; }
    .de-focus dl:nth-child(2) {
      padding: 0 0.2rem;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5; }
    .de-focus dl dt {
      color: #888; }
    .de-focus dl dd {
      color: #fa523c;
      font-weight: bold; }

.bottom-operation-but {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 0.9rem; }
  .bottom-operation-but .mobile-but, .bottom-operation-but .sms-but {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    background-color: #f29e60;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 0.26rem;
    color: #fff; }
  .bottom-operation-but .sms-but {
    background-color: #00ae66; }
  .bottom-operation-but .icon-mobile, .bottom-operation-but .icon-sms {
    margin-right: 0.14rem;
    width: 0.3rem;
    height: 0.3rem;
    fill: #fff; }

.de-pic-box {
  width: 100%;
  height: 3.4rem; }
  .de-pic-box img {
    width: 100%;
    height: 100%; }

.de-labl-title {
  padding: 0.2rem;
  font-size: 0.28rem;
  font-weight: bold;
  color: #383f42;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5; }

.contact-info {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 0.33rem 0.2rem 0.28rem; }
  .contact-info .pic-box {
    width: 2.98rem;
    height: 1.78rem;
    border: 1px solid #eee; }
    .contact-info .pic-box img {
      width: 100%;
      height: 100%; }
  .contact-info .txt-r-box {
    width: 2.65rem; }
    .contact-info .txt-r-box h3 {
      font-size: 0.32rem;
      font-weight: bold;
      color: #383f42;
      max-width: 2.56rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .contact-info .txt-r-box .line-q {
      height: 0.35rem;
      line-height: 0.35rem; }
    .contact-info .txt-r-box label {
      color: #999; }
    .contact-info .txt-r-box span, .contact-info .txt-r-box p {
      color: #383f42; }

.other-f-but {
  margin-left: 0.2rem;
  padding: 0.2rem 0.3rem;
  color: #fff;
  font-size: 0.26rem;
  border-radius: 0.03rem;
  background-color: #13b5b1;
  display: inline-block; }

.f-number-tip {
  padding: 0.13rem 0.2rem;
  color: #333;
  font-size: 0.22rem;
  background-color: #efeff4; }
  .f-number-tip span, .f-number-tip .contact-info .txt-r-box p, .contact-info .txt-r-box .f-number-tip p {
    color: #df4703; }

.zj-de-header {
  padding: 0; }
  .zj-de-header .screening-box {
    margin-top: 0;
    padding: 0.14rem 0.2rem;
    border-top: 1px solid #e5e5e5;
    background-color: #fff; }
  .zj-de-header .locationCon, .zj-de-header .priceCon, .zj-de-header .areaCon, .zj-de-header .validationCon, .zj-de-header .typeCon, .zj-de-header .moreCon, .zj-de-header .validationCon {
    top: 2.11rem; }

.line-list-box {
  min-height: 7.5rem;
  background-color: #fff; }
  .line-list-box li {
    padding: 0 0.2rem;
    border-top: 1px solid #e5e5e5; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .line-list-box li {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e5e5e5), to(#e5e5e5)); } }
    .line-list-box li a {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 0.3rem 0;
      color: #888;
      font-size: 0.22rem;
      justify-content: space-between;
      -webkit-justify-content: space-between; }
    .line-list-box li .name, .line-list-box li .type, .line-list-box li .price {
      width: 2.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .line-list-box li .type {
      width: 1.75rem;
      text-align: center; }
    .line-list-box li .price {
      width: 1.4rem;
      text-align: right; }

.com-fb-time {
  padding: 0.2rem 0;
  border-bottom: 1px solid #e5e5e5; }
  .com-fb-time h2 {
    margin-bottom: 0.23rem;
    text-align: center;
    font-size: 0.28rem;
    color: #383f42; }
  .com-fb-time .info {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    color: #999;
    font-size: 0.22rem; }
    .com-fb-time .info .time {
      margin-right: 0.7rem; }
    .com-fb-time .info span, .com-fb-time .info .contact-info .txt-r-box p, .contact-info .txt-r-box .com-fb-time .info p {
      color: #333; }

.tab-menu {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }
  .tab-menu a {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    padding: 0.14rem;
    color: #888;
    text-align: center;
    border-bottom: 1px solid #e5e5e5; }
    .tab-menu a.active {
      color: #00ae66;
      border-bottom: 2px solid #00ae66; }

.list-line-box {
  margin-bottom: 0.2rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  .list-line-box:nth-child(3) {
    border-top: none; }
  .list-line-box a {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0.3rem 0.2rem;
    background-color: #fff; }
  .list-line-box .pic-l {
    margin-right: 0.34rem;
    width: 1.48rem;
    height: 1.18rem;
    border: 1px solid #e5e5e5; }
    .list-line-box .pic-l img {
      width: 100%;
      height: 100%; }
  .list-line-box .txt-r {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1; }
    .list-line-box .txt-r .he4 h3 {
      height: 0.76rem;
      font-size: 0.26rem; }
    .list-line-box .txt-r .time {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      margin-top: 0.15rem;
      align-items: center;
      -webkit-align-items: center;
      color: #999;
      font-size: 0.2rem; }
      .list-line-box .txt-r .time .icon-time {
        margin-right: 0.08rem;
        width: 0.2rem;
        height: 0.2rem;
        fill: #999; }

.focus-title {
  margin: 0 0.2rem;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e5e5e5; }
  .focus-title h2 {
    font-size: 0.28rem;
    font-weight: bold;
    color: #383f42; }
  .focus-title p {
    margin-top: 0.2rem;
    color: #888;
    font-size: 0.22rem; }

.editor-txt-box {
  margin: 0.2rem; }
  .editor-txt-box p {
    font-size: 0.22rem;
    color: #666;
    line-height: 0.4rem; }
  .editor-txt-box img {
    width: 100%;
    height: auto; }

/*# sourceMappingURL=style.css.map */
