page-gr-info-succe {
    .succe-icon{
        width: 0.76rem;
        height: 0.76rem;
        margin: 1.63rem auto 0.52rem;
        img{
            width: 100%;
        }
    }
    .succe-txt{
        text-align: center;
        font-size: 0.26rem;
        line-height: 0.4rem;
    }
}
