<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="../web/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/admin.style.css">
	<script type="text/javascript" src="../web/font-icon/iconfont.js"></script>
</head>
<body>
	<div class="body-bg">
		<header class="ad-header">
			<div class="ad-header-top">
				<img src="../web/images/admin-header-bg.png" />
			</div>
			<div class="account-box">
				<div class="head-pic">
					<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1491465039124&di=b2bfe6b6adb68919f5e296a6343b7fee&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201408%2F03%2F23%2F44%2F53de58e5da74c247.jpg%2521200x200.jpg" />
				</div>
				<p>182*****5572</p>
				<a href="modify-gr-info.html">账号管理 ></a>
			</div>
			<div class="ad-tab-menu">
				<div class="ad-fb active">
					<span>
						<svg class="icon-release02">
							<use xlink:href="#icon-release02"></use>
						</svg>
					</span>
					<label>我的发布</label>
				</div>
				<div class="ad-sc">
					<span>
						<svg class="icon-wujiaoxing">
							<use xlink:href="#icon-wujiaoxing"></use>
						</svg>
					</span>
					<label>我的收藏</label>
				</div>
			</div>
		</header>
		<div class="ad-tab-conList">
			<div class="list-box01">
				<ul>
					<li>
						<a href="zs-housing.html">
							<span class="label">
								<svg class="icon-size icon-select-house">
									<use xlink:href="#icon-select-house"></use>
								</svg> <em>显示中</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="dsh-housing.html">
							<span class="label">
								<svg class="icon-size icon-stay-select">
									<use xlink:href="#icon-stay-select"></use>
								</svg> <em>待审核</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="wtg-housing.html">
							<span class="label">
								<svg class="icon-size icon-not-through">
									<use xlink:href="#icon-not-through"></use>
								</svg> <em>未通过</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="sc-housing.html">
							<span class="label">
								<svg class="icon-size icon-house-release">
									<use xlink:href="#icon-house-release"></use>
								</svg> <em>已删除</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="xj-housing.html">
							<span class="label">
								<svg class="icon-size icon-shelves">
									<use xlink:href="#icon-shelves"></use>
								</svg> <em>已下架</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li class="mt-20">
						<a href="qg-housing.html">
							<span class="label">
								<svg class="icon-size icon-info-release">
									<use xlink:href="#icon-info-release"></use>
								</svg> <em>发布的求购</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="list-box02">
				<ul>
					<li>
						<a href="sn-housing.html">
							<span class="label">
								<svg class="icon-size icon-house">
									<use xlink:href="#icon-house"></use>
								</svg> <em>收藏的房源</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="zj-housing.html">
							<span class="label">
								<svg class="icon-size icon-zhongjiefei">
									<use xlink:href="#icon-zhongjiefei"></use>
								</svg> <em>收藏的中介</em>
							</span>
							<span class="number"> <em>2</em>
								<svg class="icon-size icon-angle-right">
									<use xlink:href="#icon-angle-right"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- foot -->
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr active" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my02"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
<!-- foot end -->
<!-- release -->
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
<!-- release end -->
	</div>
</body>
	<script type="text/javascript" src="../web/js/jquery.min.js"></script>
	<script type="text/javascript" src="../web/js/helpers.js"></script>
</html>