<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="../web/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/admin.style.css">
	<script type="text/javascript" src="../web/font-icon/iconfont.js"></script>

</head>
<body>
	<!-- header -->
	<header>
		<div class="de-header02">
			<a href="javascript:;" onClick="javascript :history.back(-1);">
				<svg class="icon-angle-left">
					<use xlink:href="#icon-angle-left-copy"></use>
				</svg>
			</a>
			<h1>修改密码</h1>
		</div>
	</header>
	<!-- header end -->
	<!-- list content -->
	<div class="ad-list-wrap02">
		<ul class="account-info-list">
			<li>
				<a href="javascript:;">
					<span><input type="text" placeholder="原密码" maxlength="" /></span>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<span><input type="text" placeholder="新密码" maxlength="" /></span>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<span><input type="text" placeholder="确认密码" maxlength="" /></span>
				</a>
			</li>
			<li class="confirm-but mt-80">
				<a  href="javascript:;">确认</a>
			</li>
		</ul>
		<div class="bg-pic">
			<img src="../web/images/gr-info-bg.png">
		</div>
	</div>
	<!-- list content end -->
	<!-- foot -->
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr active" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my02"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
<!-- foot end -->
<!-- release -->
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
<!-- release end -->
</body>
	<script type="text/javascript" src="../web/js/jquery.min.js"></script>
	<script type="text/javascript" src="../web/js/helpers.js"></script>
</html>