<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="../web/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/admin.style.css">
	<script type="text/javascript" src="../web/font-icon/iconfont.js"></script>
</head>
<body>
<div class="body-bg02">
	<!-- header -->
	<header>
		<div class="de-header02">
			<a href="javascript:;" onClick="javascript :history.back(-1);">
				<svg class="icon-angle-left">
					<use xlink:href="#icon-angle-left-copy"></use>
				</svg>
			</a>
			<h1>已删除房源</h1>
		</div>
	</header>
	<!-- header end -->
	<!-- list content -->
	<div class="list-wrap">
		<div class="list-item">
				<a href="../admin/admin-index.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="../admin/admin-index.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="../admin/admin-index.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>
	</div>
	<!-- list content end -->
	<!-- foot -->
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr active" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my02"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
<!-- foot end -->
<!-- release -->
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
<!-- release end -->
</div>
</body>
	<script type="text/javascript" src="../web/js/jquery.min.js"></script>
	<script type="text/javascript" src="../web/js/helpers.js"></script>
</html>