<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="../web/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/admin.style.css">
	<script type="text/javascript" src="../web/font-icon/iconfont.js"></script>
</head>
<body>
<div class="body-bg02">
	<!-- header -->
	<header>
		<div class="de-header02">
			<a href="javascript:;" onClick="javascript :history.back(-1);">
				<svg class="icon-angle-left">
					<use xlink:href="#icon-angle-left-copy"></use>
				</svg>
			</a>
			<h1>收藏的中介</h1>
		</div>
	</header>
	<!-- header end -->
	<!-- list content -->
	<div class="list-wrap change-list mt-20">
			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267315752&di=5458748244b810e8f0496c2a104b4438&imgtype=0&src=http%3A%2F%2Fp2.gexing.com%2FG1%2FM00%2FBD%2F69%2FrBABFFHbf5-jOVk6AAAbZQyfsFc431_200x200_3.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267315749&di=aa8981c7d0cb96955813c85583b8cd3a&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201503%2F16%2F18%2F43%2F5506b3c1c7877866.jpg%2521200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490862012&di=ded8563f17fcef6128bf897b1890c2dd&imgtype=jpg&er=1&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201508%2F30%2F00%2F39%2F55e1e026dc781749.jpg%21200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267264340&di=fc447a33649d42b7c15d916ebceac715&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201408%2F02%2F21%2F04%2F53dce1f65bc39427.png%2521200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>
			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267264340&di=fc447a33649d42b7c15d916ebceac715&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201408%2F02%2F21%2F04%2F53dce1f65bc39427.png%2521200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- list content end -->
	<!-- foot -->
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr active" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my02"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
<!-- foot end -->
<!-- release -->
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
<!-- release end -->
</div>
</body>
	<script type="text/javascript" src="../web/js/jquery.min.js"></script>
	<script type="text/javascript" src="../web/js/helpers.js"></script>
</html>