page-zj-info-list {
    .bg-color{
        background-color: #eeeef3;
    }
    .list{
        .item{
            padding-left: 0;
            .item-inner{
                padding-left: 8px;
            }
        }
        .item-block{
            min-height: 0.8rem;
            font-size: 0.24rem;
        }
        .label-l{
            color: #888;
            font-size: 0.26rem;
        }
        .label-r{
            color: #333;
        }
        .mt-20{
            margin-top: 0.2rem;
        }
    }
}
