page-esf-list {
     .toolbar-title-ios{
      font-size: 0.4rem
  }
  .back-button-ios{
      font-size: 0.4rem
  }
  .back-button-ios{
      min-height:0.8rem;
  }
  .back-button-icon-ios{
      font-size: 0.4rem
  }
  .segment-ios .segment-button{
      line-height:0.8rem;
      height:0.8rem;
      font-size:0.3rem;
  }

  .header-nav-bar{
      .list-header-wrap{
          padding:0px;
      }
  }
}
