<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>二手房-详情页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
	<div class="body-bg" style="padding:0">
		<div class="pic-rolling-box">
			<div class="top-operation-but">
				<div class="but-box-l">
					<a class="home-but" href="index.html">
						<svg class="icon-home" aria-hidden="true">
							<use xlink:href="#icon-home"></use>
						</svg>
					</a>
				</div>
				<div class="but-box-r">
					<a class="income-but" href="javascript:;">
						<svg class="icon-wujiaoxing" aria-hidden="true">
							<use xlink:href="#icon-wujiaoxing"></use>
						</svg>
					</a>
					<a class="share-but" href="javascript:;">
						<svg class="icon-share" aria-hidden="true">
							<use xlink:href="#icon-share"></use>
						</svg>
					</a>
				</div>
			</div>
			<!-- 图片切换 -->
			<div class="hdp-box">
				<div id="slider" class="swipe">
					<ul class="piclist">
						<li>
							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490692112888&di=a62e62e9f6a9794973b91fa71d4df95f&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F151228%2F14-15122Q60431W4.jpg"></li>
						<li>
							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490692112885&di=d3282f74d0a8f3c10d6381a1286e2f3d&imgtype=0&src=http%3A%2F%2Fwww.chla.com.cn%2Fuploadfile%2F2011%2Fnew2011617%2Fimages%2F2013%2F10%2F20131011164609.jpg"></li>
						<li>
							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490692112884&di=63346910741cfa91f2e67baaef0ba893&imgtype=0&src=http%3A%2F%2Fimg.tuku.cn%2Ffile_big%2F201503%2Fff369d2a774942789ebe6eac593fa5d5.jpg"></li>
						<li>
							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490692213914&di=29fbdf38ffd95ef1cc157a6ad8bf7f63&imgtype=0&src=http%3A%2F%2Fwww.pp3.cn%2Fuploads%2F201508%2F2015080914.jpg"></li>
					</ul>
				</div>
				<div class="count"> <b class="bi">1</b>
					/ <b class="bcount"></b>
				</div>
			</div>
			
			<!-- 图片切换 结束 -->
		</div>
		<div class="de-title">
			<h2>小河佳苑3居室核心居住区花园洋房淘宝城西湖区文三路</h2>
			<span class="lable">中介房源</span>
		</div>
		<div class="de-focus">
			<dl>
				<dt>售价</dt>
				<dd>226万</dd>
			</dl>
			<dl>
				<dt>户型</dt>
				<dd>3室1厅1厨1卫</dd>
			</dl>
			<dl>
				<dt>面积</dt>
				<dd>226m²</dd>
			</dl>
		</div>
		<div class="de-forList">
			<ul class="list-l">
				<li>
					<label>单价：</label>
					<span>25198/平</span>
				</li>
				<li>
					<label>类型：</label>
					<span>普通住宅</span>
				</li>
				<li>
					<label>户型：</label>
					<span>2室1厅1厨1卫</span>
				</li>
				<li>
					<label>面积：</label>
					<span>96m²</span>
				</li>
				<li>
					<label>朝向：</label>
					<span>南</span>
				</li>
				<li>
					<label>电梯：</label>
					<span>一梯一户</span>
				</li>
				<li>
					<label>车库：</label>
					<span>无</span>
				</li>
				<li>
					<label>其他说明：</label>
					<span>暂无</span>
				</li>
				<li>
					<label>小区：</label>
					<span>流星花园小区</span>
				</li>
			</ul>
			<ul class="list-r">
				<li>
					<label>发布时间：</label>
					<span>2017/3/27</span>
				</li>
				<li>
					<label>楼层：</label>
					<span>第2层/共5层</span>
				</li>
				<li>
					<label>架构：</label>
					<span>平层</span>
				</li>
				<li>
					<label>年代：</label>
					<span>2010年</span>
				</li>
				<li>
					<label>装修：</label>
					<span>简装修</span>
				</li>
				<li>
					<label>产权：</label>
					<span>商品房</span>
				</li>
				<li>
					<label>柴间：</label>
					<span>12平米</span>
				</li>
				<li>
					<label></label>
					<span></span>
				</li>
				<li>
					<label>查看地图：</label>
					<span>
						<svg class="icon-map">
							<use xlink:href="#icon-map"></use>
						</svg>
					</span>
				</li>
			</ul>
		</div>
		<div class="de-forList02">
			<ul>
				<li><label>中介名称：</label><span>熊熊中介</span></li>
				<li><label>联系人：</label><span>熊熊</span></li>
				<li><label>联系电话：</label><span>13512345678 /13612345678</span></li>
			</ul>
		</div>
		<div class="list-wrap mt-20">
			<h3 class="index-title">
				<span>热门房源</span>
				<a class="more" href="javascript:;">
					<em>更多</em>
					<svg class="index-angle-right" aria-hidden="true">
						<use xlink:href="#icon-angle-right"></use>
					</svg>
				</a>
			</h3>
			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="bottom-operation-but">
			<a class="mobile-but" href="tel:114">
				<svg class="icon-mobile">
					<use xlink:href="#icon-mobile"></use>
				</svg>
				致电
			</a>
			<a class="sms-but" href="sms:114">
				<svg class="icon-sms">
					<use xlink:href="#icon-sms"></use>
				</svg>
				短信
			</a>
		</div>
	</div>
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
	<script type="text/javascript" src="js/zepto_min.js"></script>
	<script type="text/javascript" src="js/touchslider.js"></script>
	<script type="text/javascript">
	$(function(){
		var num=$('#slider').find('li').size();
		$('.bcount').text(num);
	})
	var tt=new TouchSlider({id:'slider','auto':'-1',fx:'ease-out',direction:'left',speed:600,timeout:5000,'before':function(index){
		var es=document.getElementById('slider').getElementsByTagName('li');
		var it=$(es[index]).index()+1;	
		$('.bi').text(it);	
	}});
</script>
</html>