<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
<!-- header -->
	<div class="body-bg">
		<header class="ho-header">
			<img class="header-bg" src="images/header-bg.jpg">
			<div class="area-lable">
				丽水
				<svg class="index-angle-down" aria-hidden="true">
					<use xlink:href="#icon-angle-down-copy"></use>
				</svg>
			</div>
			<div class="search-wrap">
				<div class="choose-lable">
					二手房
					<svg class="index-triangle-down" aria-hidden="true">
						<use xlink:href="#icon-triangle-down-copy"></use>
					</svg>
				</div>
				<span class="line-middle"></span>
				<div class="se-input-box">
					<svg class="index-search" aria-hidden="true">
						<use xlink:href="#icon-search"></use>
					</svg>
					<input type="text" placeholder="请输入您要搜索的关键词"/>			
				</div>
			</div>
		</header>
		<!-- header end -->
		<!-- menu -->
		<div class="fast-menu">
			<a href="esfList.html">
				<div class="pic-container">
					<img src="images/ershoufang.png" />
				</div>
				<span class="title">二手房</span>
			</a>
			<a href="zxqList.html">
				<div class="pic-container">
					<img src="images/xiaoqu.png" />
				</div>
				<span class="title">找小区</span>
			</a>
			<a href="zjList.html">
				<div class="pic-container">
					<img src="images/zhongjie.png" />
				</div>
				<span class="title">找中介</span>
			</a>
			<a href="qgList.html">
				<div class="pic-container">
					<img src="images/qiugou.png" />
				</div>
				<span class="title">求购信息</span>
			</a>
			<a href="zxList-bd.html">
				<div class="pic-container">
					<img src="images/zixun.png" />
				</div>
				<span class="title">房产资讯</span>
			</a>
		</div>
		<!-- menu end -->
		<!-- list content -->
		<div class="list-wrap mt-20">
			<h3 class="index-title">
				<span>热门房源</span>
				<a class="more" href="javascript:;">
					<em>更多</em>
					<svg class="index-angle-right" aria-hidden="true">
						<use xlink:href="#icon-angle-right"></use>
					</svg>
				</a>
			</h3>
			<div class="list-item">
				<a href="../admin/admin-index.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490258855241&di=ec2974015608942d7b8841202d778539&imgtype=0&src=http%3A%2F%2Fimg.uuhy.com%2Fuploads%2F2010%2F06%2F60ac_d6b8_02-Alive-and-loving-it-macro-photography.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="lable-tip">
							<span class="lable color-16">中介</span>
							<span class="lable color-17">验证房源</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490265385824&di=c5b8b041576b0ef7ed81920ee131e491&imgtype=0&src=http%3A%2F%2Fi1.article.fd.zol-img.com.cn%2Ft_s640x2000%2Fg5%2FM00%2F00%2F03%2FChMkJlYp1UeIPe78AAIw4QEANI0AAEAWgMob7oAAjD5701.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="lable-tip">
							<span class="lable color-16">中介</span>
							<span class="lable color-17">验证房源</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490265385822&di=96d6145460ada7bdac785cba57b28724&imgtype=0&src=http%3A%2F%2Fwww.yuyihz.com%2Fuserfile%2Fimage%2F201512%2F20151219115741_4222.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="lable-tip">
							<span class="lable color-16">中介</span>
							<span class="lable color-17">验证房源</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490265385824&di=c5b8b041576b0ef7ed81920ee131e491&imgtype=0&src=http%3A%2F%2Fi1.article.fd.zol-img.com.cn%2Ft_s640x2000%2Fg5%2FM00%2F00%2F03%2FChMkJlYp1UeIPe78AAIw4QEANI0AAEAWgMob7oAAjD5701.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">3室1厅</span>&nbsp;|
							<span class="color-9">130m²</span>&nbsp;|
							<span class="color-9">迎园小区</span>
						</div>
						<div class="lable-tip">
							<span class="lable color-16">中介</span>
							<span class="lable color-17">验证房源</span>
						</div>
						<div class="price-line">
							<span class="focus">1200万</span>
							<span class="color-9">10000元/m²</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-wrap change-list mt-20">
			<h3 class="index-title">
				<span>中介推荐</span>
				<a class="more" href="javascript:;">
					<em>更多</em>
					<svg class="index-angle-right" aria-hidden="true">
						<use xlink:href="#icon-angle-right"></use>
					</svg>
				</a>
			</h3>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267315752&di=5458748244b810e8f0496c2a104b4438&imgtype=0&src=http%3A%2F%2Fp2.gexing.com%2FG1%2FM00%2FBD%2F69%2FrBABFFHbf5-jOVk6AAAbZQyfsFc431_200x200_3.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267315749&di=aa8981c7d0cb96955813c85583b8cd3a&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201503%2F16%2F18%2F43%2F5506b3c1c7877866.jpg%2521200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490862012&di=ded8563f17fcef6128bf897b1890c2dd&imgtype=jpg&er=1&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201508%2F30%2F00%2F39%2F55e1e026dc781749.jpg%21200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="javascript:;">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267264340&di=fc447a33649d42b7c15d916ebceac715&imgtype=0&src=http%3A%2F%2Fv1.qzone.cc%2Favatar%2F201408%2F02%2F21%2F04%2F53dce1f65bc39427.png%2521200x200.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line mt-25">
							<span class="color-9">二套房源：<span class="color-8">5</span>套</span>
						</div>						
						<div class="same-line">
							<span class="color-9">成立时间：<span>5</span>年</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- list content end -->
		<!-- foot -->
		<footer class="foot-wrap">
			<div class="foot-con">
				<a class="foot-menu fl" href="javascript:;">
					<svg class="index-home01" aria-hidden="true">
						<use xlink:href="#icon-home02"></use>
					</svg>
					<span class="menu-txt">首页</span>
				</a>
				<div class="foot-fb">
					<a id="index_fb" class="fb-button" href="javascript:;">
						<svg class="index-release" aria-hidden="true">
							<use xlink:href="#icon-release"></use>
						</svg>
					</a>
					<span class="menu-txt">发布</span>
				</div>
				<a class="foot-menu fr" href="login.html">
					<svg class="index-my" aria-hidden="true">
						<use xlink:href="#icon-my"></use>
					</svg>
					<span class="menu-txt">我的</span>
				</a>
			</div>
		</footer>
		<!-- foot end -->
		<!-- release -->
		<div class="index-release-wrap">
			<div class="fb-but-box">
				<div class="fb-top-but">
					<div class="fy-but">
						<a href="fy-publish.html">
							<svg class="index-house-color" aria-hidden="true">
								<use xlink:href="#icon-house-color"></use>
							</svg>
						</a>
						<span>发布房源</span>
					</div>
					<div class="qg-but">
						<a href="qg-publish.html">
							<svg class="index-editor-color" aria-hidden="true">
								<use xlink:href="#icon-editor-color"></use>
							</svg>
						</a>
						<span>发布求购</span>
					</div>
				</div>
				<div id="shut-down" class="shut-down">
					<svg class="index-release-cancel" aria-hidden="true">
						<use xlink:href="#icon-release-cancel"></use>
					</svg>
				</div>
			</div>
		</div>
		<!-- release end -->
	</div>
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>