<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>二手房-列表页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
	<!-- header -->
	<header>
		<div class="list-header-wrap">
			<div class="top-search">
				<a href="javascript:;" onClick="javascript :history.back(-1);">
					<svg class="icon-angle-left">
						<use xlink:href="#icon-angle-left-copy"></use>
					</svg>
				</a>
				<div class="search-input">
					<svg class="icon-search" aria-hidden="true">
						<use xlink:href="#icon-search"></use>
					</svg>
					<input type="text" placeholder="请输入您要搜索的关键词" />		
				</div>
			</div>
			<div class="screening-box">
				<span id="locationList">
					<a href="javascript:;">
						区域
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="priceList">
					<a href="javascript:;">
						价格
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="areaLsit">
					<a href="javascript:;">
						面积
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
				<span id="moreList">
					<a href="javascript:;">
						更多
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
			</div>
			<!-- screening list -->
			<div class="locationCon" style="display: none">
				<h2>区域</h2>
				<ul class="locationList-box">
					<li>不限</li>
					<li>莲都</li>
					<li>龙泉</li>
					<li>青田</li>
					<li>缙云</li>
					<li>庆元</li>
					<li>遂昌</li>
					<li>松阳</li>
					<li>云和</li>
					<li class="border-none">开发区</li>
				</ul>
			</div>
			<div class="priceCon" style="display: none">
				<ul class="priceList-box">
					<li>不限</li>
					<li>50万以下</li>
					<li>50-80万</li>
					<li>80-100万</li>
					<li>100-120万</li>
					<li>120-150万</li>
					<li>150-200万</li>
					<li>200-300万</li>
					<li>300万以上</li>
					<li class="custom-line border-none"><span>自定义价格</span><span><input class="input-define" type="text" placeholder="最低" maxlength="4" /></span>—<span><input class="input-define" type="text" placeholder="最高" maxlength="4" /></span><button class="determine-but">确定</button></li>
				</ul>
			</div>
			<div class="areaCon" style="display: none">
				<ul class="areaList-box">
					<li>不限</li>
					<li>50平以下</li>
					<li>50-70平</li>
					<li>70-90平</li>
					<li>90-130平</li>
					<li>130-150平</li>
					<li>150-200平</li>
					<li>200-300平</li>
					<li>300平以上</li>
					<li class="border-none"></li>
				</ul>
			</div>
			<div class="moreCon" style="display: none">
				<ul class="moreList-box he1">
					<li class="title">户型</li>
					<li class="type">
						<span>一室</span>
						<span>二室</span>
						<span>三室</span>
						<span>四室</span>
						<span>四室以上</span>
					</li>
				</ul>
				<ul class="moreList-box he2">
					<li class="title">来源</li>
					<li class="type">
						<span>个人</span>
						<span>中介</span>
					</li>
				</ul>
				<button id="filtrate-reset" class="remove-but">清空条件</button>
				<button class="determine-but">确定</button>
			</div>
			<!-- screening list end -->
		</div>
	</header>
	<!-- header end -->
	<!-- list content -->
	<div class="list-wrap">
		<div class="no-info-tip">
			<div class="tip-pic">
				<img src="images/no-info-icon.png" />
			</div>
			<h3>没有找到房源</h3>
			<p>请换个搜索条件试试</p>
		</div>
	</div>
	<!-- list content end -->
	<!-- foot -->
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
	<!-- foot end -->
	<!-- release -->
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
	<!-- release end -->
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>