<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>求购-详情页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
<div class="body-bg02">
	<!-- header -->
	<header>
		<div class="de-header02">
			<a href="javascript:;" onClick="javascript :history.back(-1);">
				<svg class="icon-angle-left">
					<use xlink:href="#icon-angle-left-copy"></use>
				</svg>
			</a>
			<h1>求购详情</h1>
			<div class="but-box-r">
				<a class="income-but" href="javascript:;">
					<svg class="icon-wujiaoxing" aria-hidden="true">
						<use xlink:href="#icon-wujiaoxing"></use>
					</svg>
				</a>
				<a class="share-but" href="javascript:;">
					<svg class="icon-share" aria-hidden="true">
						<use xlink:href="#icon-share"></use>
					</svg>
				</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<!-- content -->
	<div class="com-fb-time">
		<h2>求租嘉绿苑小区</h2>
		<div class="info">
			<div class="time">
				发布时间：
				<span>2017/3/29</span>
			</div>
			<div class="browse">
				浏览次数：
				<span>20</span>
			</div>
		</div>
	</div>
	<div class="de-forList">
			<ul class="list-l">
				<li>
					<label>求购价：</label>
					<span>200万</span>
				</li>
				<li>
					<label>市（县）：</label>
					<span>青田县</span>
				</li>
				<li>
					<label>户型：</label>
					<span>3室2厅2厨2卫</span>
				</li>
				<li>
					<label>面积：</label>
					<span>120-150m²</span>
				</li>
				<li class="special-li">
					<label>建筑年代：</label>
					<span>2015年至2017年</span>
				</li>
				<li class="special-li">
					<label>所处地段：</label>
					<span>莲花街</span>
				</li>
				<li class="special-li">
					<label>联系方式：</label>
					<span>
						157-1234-5678
					</span>
				</li>
				<li>
					<label>其他说明：</label>
				</li>
			</ul>
			<ul class="list-r">
				<li>
					<label>房型：</label>
					<span>普通住宅</span>
				</li>
				<li>
					<label>车库：</label>
					<span>不需要</span>
				</li>
				<li>
					<label>朝向：</label>
					<span>南</span>
				</li>
			</ul>
			<div class="paper-box fl">
创嘉元单身公寓位于洄龙湖邸小区内，这里的房子整齐统一，错落有致。小区内有一片荷塘，荷塘内有一半面积被莲藕覆盖，荷塘边是参差不齐的柳树，有月色的夜晚，微风来袭，坐在荷塘边的木椅上，荷塘月色尽收眼底。荷塘南边有一排健身器材，茶语饭后强身健体，美不胜收。公寓西边约100米是大润发综合超市，北边400米是半山国家森林公园。南面隔着一条杭玻街是华丰北苑，小吃应有尽有。</div>
		</div>
	<!-- content end -->
	<!-- foot -->	
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
	<!-- foot end -->	
	<!-- release -->	
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
	<!-- release end -->	
	</div>
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>