<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>中介-详情页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
<div style="min-height: 8.65rem;">
	<!-- header -->
	<header>
		<div class="de-header02">
			<a href="javascript:;" onClick="javascript :history.back(-1);">
				<svg class="icon-angle-left">
					<use xlink:href="#icon-angle-left-copy"></use>
				</svg>
			</a>
			<h1>玛雅中介</h1>
			<div class="but-box-r">
				<a class="income-but" href="javascript:;">
					<svg class="icon-wujiaoxing" aria-hidden="true">
						<use xlink:href="#icon-wujiaoxing"></use>
					</svg>
				</a>
				<a class="share-but" href="javascript:;">
					<svg class="icon-share" aria-hidden="true">
						<use xlink:href="#icon-share"></use>
					</svg>
				</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<!-- content -->
	<div class="contact-info">
		<div class="pic-box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490762436300&di=1242e422a354baf55b4fac3630d909cc&imgtype=0&src=http%3A%2F%2Fimga.mumayi.com%2Fandroid%2Fimg_google%2F2013%2F09%2F26%2Fcom.hd.live.wallpaper.beauty.anime%2Fcomhdlivewallpaperbeautyanime_litpic_2.jpg" /></div>
		<div class="txt-r-box">
			<h3>玛雅亓蔚然中介</h3>
			<div class="line-q">
				<label>联系人：</label>
				<span>张先生</span>
			</div>
			<div class="line-q">
				<label>联系电话：</label>
			</div>
			<p class="line-q">158-1234-5678</p>
			<p class="line-q">010-12345678</p>
		</div>
	</div>
	<div class="de-forList">
		<ul class="list-l">
			<li>
				<label>全称：</label>
				<span>玛雅亓蔚然中介</span>
			</li>
			<li>
				<label>所在区（县）：</label>
				<span>缙云县</span>
			</li>
			<li>
				<label>门店地址：</label>
				<span>缙云县人民路28号</span>
			</li>
			<li>
				<label>成立时间：</label>
				<span>2015年</span>
			</li>
			<li>
				<label>店铺介绍：</label>
				<span></span>
			</li>
			<li class="introdu-box">
				旬阳县左邻右舍房产经纪有限公司简介 旬阳县左邻右舍房产经纪有限公司是经工商注册的合法中介机 构,是一家专业的房产服务公司,位于商贸大街 146 号
			</li>
		</ul>
	</div>
	<div><a class="other-f-but" href="zjList-detail-fy.html">查看18套二手房源</a></div>
	<div class="clear"></div>
	<!-- content end -->
</div>
	<!-- footer -->	
	<div class="bottom-operation-but">
		<a class="mobile-but" href="tel:114">
			<svg class="icon-mobile">
				<use xlink:href="#icon-mobile"></use>
			</svg>
			致电
		</a>
		<a class="sms-but" href="sms:114">
			<svg class="icon-sms">
				<use xlink:href="#icon-sms"></use>
			</svg>
			短信
		</a>
	</div>
	<!-- footer end -->	
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>