<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>资讯-本地快讯</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
	<div class="body-bg03">
		<!-- header -->	
		<header>
			<div class="de-header02">
				<a href="javascript:;" onClick="javascript :history.back(-1);">
					<svg class="icon-angle-left">
						<use xlink:href="#icon-angle-left-copy"></use>
					</svg>
				</a>
				<h1>新闻</h1>
			</div>
		</header>
		<!-- header end -->	
		<div class="tab-menu">
			<a class="active" href="zxList-bd.html">本地快讯</a>
			<a href="zxList-gn.html">国内资讯</a>
			<a href="zxList-zc.html">政策法规</a>
		</div>
		<!-- list content -->
		<div class="list-line-box">
			<a class="he4" href="zxList-detail.html">
				<div class="pic-l">
					<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490849068112&di=8ad1c9f3e76a07e3a198069ef1893d08&imgtype=0&src=http%3A%2F%2Fimg01.tobosu.net%2Fmanage%2Fbase%2Fpiccase%2Fsmall%2Ftbs20137131641459.jpg" />
				</div>
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>

		<div class="list-line-box">
			<a href="zxList-detail.html">
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>

		<div class="list-line-box">
			<a class="he4" href="zxList-detail.html">
				<div class="pic-l">
					<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490849068112&di=8ad1c9f3e76a07e3a198069ef1893d08&imgtype=0&src=http%3A%2F%2Fimg01.tobosu.net%2Fmanage%2Fbase%2Fpiccase%2Fsmall%2Ftbs20137131641459.jpg" />
				</div>
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>

		<div class="list-line-box">
			<a href="zxList-detail.html">
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>

		<div class="list-line-box">
			<a class="he4" href="zxList-detail.html">
				<div class="pic-l">
					<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490849068112&di=8ad1c9f3e76a07e3a198069ef1893d08&imgtype=0&src=http%3A%2F%2Fimg01.tobosu.net%2Fmanage%2Fbase%2Fpiccase%2Fsmall%2Ftbs20137131641459.jpg" />
				</div>
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>

		<div class="list-line-box">
			<a href="zxList-detail.html">
				<div class="txt-r">
					<h3>习主席五年来在解放军代表团都着重讲了啥</h3>
					<div class="time">
						<svg class="icon-time" aria-hidden="true">
							<use xlink:href="#icon-time"></use>
						</svg>
						<span>2017/3/30</span>
					</div>
				</div>
			</a>
		</div>
		<!-- list content end -->
		<!-- foot -->	
	<footer class="foot-wrap">
		<div class="foot-con">
			<a class="foot-menu fl" href="index.html">
				<svg class="index-home01" aria-hidden="true">
					<use xlink:href="#icon-home01"></use>
				</svg>
				<span class="menu-txt">首页</span>
			</a>
			<div class="foot-fb">
				<a id="index_fb" class="fb-button" href="javascript:;">
					<svg class="index-release" aria-hidden="true">
						<use xlink:href="#icon-release"></use>
					</svg>
				</a>
				<span class="menu-txt">发布</span>
			</div>
			<a class="foot-menu fr" href="login.html">
				<svg class="index-my" aria-hidden="true">
					<use xlink:href="#icon-my"></use>
				</svg>
				<span class="menu-txt">我的</span>
			</a>
		</div>
	</footer>
	<!-- foot end -->	
	<!-- release -->	
	<div class="index-release-wrap">
		<div class="fb-but-box">
			<div class="fb-top-but">
				<div class="fy-but">
					<a href="javascript:;">
						<svg class="index-house-color" aria-hidden="true">
							<use xlink:href="#icon-house-color"></use>
						</svg>
					</a>
					<span>发布房源</span>
				</div>
				<div class="qg-but">
					<a href="javascript:;">
						<svg class="index-editor-color" aria-hidden="true">
							<use xlink:href="#icon-editor-color"></use>
						</svg>
					</a>
					<span>发布求购</span>
				</div>
			</div>
			<div id="shut-down" class="shut-down">
				<svg class="index-release-cancel" aria-hidden="true">
					<use xlink:href="#icon-release-cancel"></use>
				</svg>
			</div>
		</div>
	</div>
	<!-- release end -->	
	</div>
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>