<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>小区-详情页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="font-icon/iconfont.js"></script>
</head>
<body>
	<div class="body-bg">
		<header>
			<div class="de-header">
				<a href="javascript:;" onClick="javascript :history.back(-1);">
					<svg class="icon-angle-left">
						<use xlink:href="#icon-angle-left-copy"></use>
					</svg>
				</a>
				<h1>银苑小区详情</h1>
			</div>
		</header>
		<div class="de-pic-box">
			<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490699205187&di=1fdb5e528506addd5185d5b56849e966&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F17%2F39%2F78%2F92N58PICQTZ_1024.jpg" />
		</div>
		<div class="de-labl-title">
			小区信息
		</div>
		<div class="de-forList">
			<ul class="list-l">
				<li>
					<label>小区名称：</label>
					<span>银苑小区</span>
				</li>
				<li>
					<label>物业类型：</label>
					<span>高层住宅</span>
				</li>
				<li>
					<label>物业公司：</label>
					<span>怡安物业</span>
				</li>
				<li class="special-li02">
					<label>公交路线：</label>
					<span>K7路,179路,B2路,403路,21路</span>
				</li>
				<li>
					<label>挂牌房源：</label>
					<span>18套</span>
				</li>
				<li class="special-li">
					<label>小区地址：</label>
					<span>紫金路鱼中东路交叉口</span>
				</li>
				<li>
					<label>查看地图：</label>
					<span>
						<svg class="icon-map">
							<use xlink:href="#icon-map"></use>
						</svg>
					</span>
				</li>
			</ul>
			<ul class="list-r">
				<li>
					<label>区域所属：</label>
					<span>莲都</span>
				</li>
				<li>
					<label>建筑年代：</label>
					<span>2014年</span>
				</li>
				<li>
					<label>物业费：</label>
					<span>1.8月/m²</span>
				</li>
			</ul>
		</div>
	<!-- list content -->
		<div class="list-wrap mt-20">
			<h3 class="index-title">
				<span>附近小区</span>
				<a class="more" href="javascript:;"> <em>更多</em>
					<svg class="index-angle-right" aria-hidden="true">
						<use xlink:href="#icon-angle-right"></use>
					</svg>
				</a>
			</h3>

			<div class="list-item">
				<a href="zxqList-detail.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490267315752&di=5458748244b810e8f0496c2a104b4438&imgtype=0&src=http%3A%2F%2Fp2.gexing.com%2FG1%2FM00%2FBD%2F69%2FrBABFFHbf5-jOVk6AAAbZQyfsFc431_200x200_3.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">
								挂牌房源：
								<span class="color-8">5</span>
								套
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								成交均价：
								<span>10000元/m²</span>
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								建筑年代：
								<span>2001</span>
								年
							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="zxqList-detail.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490697108892&di=fcd0fd077b009b65eca349d0fd35b6c7&imgtype=0&src=http%3A%2F%2Fp2.wmpic.me%2Farticle%2F2015%2F03%2F06%2F1425604042_FbuHaZDB_215x185.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">
								挂牌房源：
								<span class="color-8">5</span>
								套
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								成交均价：
								<span>10000元/m²</span>
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								建筑年代：
								<span>2001</span>
								年
							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="zxqList-detail.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490697108893&di=cc8ec6cce2a79c2e05d02046d59ea2bd&imgtype=0&src=http%3A%2F%2Ftx.haiqq.com%2Fuploads%2Fallimg%2F150326%2F1P01UN3-8.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">
								挂牌房源：
								<span class="color-8">5</span>
								套
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								成交均价：
								<span>10000元/m²</span>
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								建筑年代：
								<span>2001</span>
								年
							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="list-item">
				<a href="zxqList-detail.html">
					<div class="pic-l">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490697108893&di=b151bfd3db3912b56bd20c74a629430e&imgtype=0&src=http%3A%2F%2Fwww.ld12.com%2Fupimg358%2Fallimg%2F20160825%2F2et011hyof4433.jpg"></div>
					<div class="txt-r">
						<h3 class="area-name">瑞虹新城瑞虹新城瑞虹1111111111111111</h3>
						<div class="same-line">
							<span class="color-9">
								挂牌房源：
								<span class="color-8">5</span>
								套
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								成交均价：
								<span>10000元/m²</span>
							</span>
						</div>
						<div class="same-line">
							<span class="color-9">
								建筑年代：
								<span>2001</span>
								年
							</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	<!-- list content end -->
	<!-- foot -->
		<footer class="foot-wrap">
			<div class="foot-con">
				<a class="foot-menu fl" href="index.html">
					<svg class="index-home01" aria-hidden="true">
						<use xlink:href="#icon-home01"></use>
					</svg>
					<span class="menu-txt">首页</span>
				</a>
				<div class="foot-fb">
					<a id="index_fb" class="fb-button" href="javascript:;">
						<svg class="index-release" aria-hidden="true">
							<use xlink:href="#icon-release"></use>
						</svg>
					</a>
					<span class="menu-txt">发布</span>
				</div>
				<a class="foot-menu fr" href="login.html">
					<svg class="index-my" aria-hidden="true">
						<use xlink:href="#icon-my"></use>
					</svg>
					<span class="menu-txt">我的</span>
				</a>
			</div>
		</footer>
	<!-- foot end -->
	<!-- release -->
		<div class="index-release-wrap">
			<div class="fb-but-box">
				<div class="fb-top-but">
					<div class="fy-but">
						<a href="javascript:;">
							<svg class="index-house-color" aria-hidden="true">
								<use xlink:href="#icon-house-color"></use>
							</svg>
						</a>
						<span>发布房源</span>
					</div>
					<div class="qg-but">
						<a href="javascript:;">
							<svg class="index-editor-color" aria-hidden="true">
								<use xlink:href="#icon-editor-color"></use>
							</svg>
						</a>
						<span>发布求购</span>
					</div>
				</div>
				<div id="shut-down" class="shut-down">
					<svg class="index-release-cancel" aria-hidden="true">
						<use xlink:href="#icon-release-cancel"></use>
					</svg>
				</div>
			</div>
		</div>
		<!-- release end -->
	</div>
</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/helpers.js"></script>
</html>