 <ion-header>
  <ion-navbar class="header-nav-bar" hideBackButton="true">
	  <div class="list-header-wrap">
	  		<div class="top-search">
				<a href="javascript:;" (click)="goMain()">
					<svg class="icon-angle-left">
						<use xlink:href="#icon-angle-left-copy"></use>
					</svg>
				</a>
				<div class="search-input">
					<svg class="icon-search" aria-hidden="true">
						<use xlink:href="#icon-search"></use>
					</svg>
					<input type="text" placeholder="请输入您要搜索的关键词"  [(ngModel)]="data.searchText" (change)="SeachTextChange()" />
				</div>
			</div>
			<div class="screening-box">
				<span id="locationList">
					<a href="javascript:;" (click)="SearchTypeClick('region')">
						区域
						<svg class="icon-triangle-down">
							<use xlink:href="#icon-triangle-down-copy"></use>
						</svg>
					</a>
				</span>
			</div>
			<!-- screening list -->
			<div class="locationCon" *ngIf="ShowRegion">
				<h2>区域</h2>
				<ul class="locationList-box">
					<li  *ngFor="let item of RegionList" (click)="RegionClick(item)" [ngClass]="{'border-none' : item.name=='开发区'}"  >{{item.name}}</li>
				</ul>
			</div>
			<!-- screening list end -->
	  </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="list-wrap change-list" *ngFor="let item of DataList">
		<div class="list-item" (click)="ItemClick(item)">
			<a href="javascript:;">
				<div class="pic-l">
					<img src="{{item.picturePath == null ? '/assets/images/zhongj_default.jpg':(BaseImgUrl +item.picturePath) }}"></div>
				<div class="txt-r">
					<h3 class="area-name">{{item.name}}</h3>
					<div class="same-line mt-25">
						<span class="color-9">
							二套房源：
							<span class="color-8">{{item.totalCount}}</span>
							套
						</span>
					</div>
					<div class="same-line">
						<span class="color-9">
							成立时间：
							<span>5</span>
							年
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<ion-infinite-scroll (ionInfinite)="doLoadData($event)" threshold="100px" *ngIf="CanLoadMore">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
