page-gr-info-failure {
    .succe-icon{
        width: 0.76rem;
        height: 0.76rem;
        margin: 1.63rem auto 0.52rem;
       // background-color: red;
    }
    .succe-txt{
        text-align: center;
        font-size: 0.26rem;
        line-height: 0.4rem;
    }
    .but{
        margin: 0 auto;
        width: 5rem;
        height: 0.8rem;
        display: block;
        color: #fff;
        text-align: center;
        font-size: 0.26rem;
    }
    .again-but{
        margin-top: 0.85rem;
        background-color: #12b5b0;
    }
    .next-but{
        margin-top: 0.2rem;
        background-color: #32b16c;
    }
}
