page-type-page {
    .tip-title{
        margin: 1rem 0 0 0.68rem;
        font-size: 0.3rem;
    }
    .but{
        margin: 0.5rem auto 0;
        width: 5rem;
        height: 0.8rem;
        display: block;
        color: #fff;
        text-align: center;
        font-size: 0.26rem;
    }
    .gr-page-but{
        background-color: #00ae66;
    }
    .zj-page-but{
        background-color: #facd89;
    }
}
