page-home {

}
ion-app.ios{
    font-size: 0.24rem;
}
ion-app.md{
    font-size: 0.24rem;
}
.tabs-md {
    .tab-button-icon{
        font-size: 0.4rem;
    }
}

.tabs-md {
    .tab-button-text{
        font-size: 0.24rem;
    }
    .tab-button{
        min-height: 1.1rem;
    }
}

